* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --black: hsl(240, 6%, 13%);
  --gray: hsl(0, 0%, 0%);
}

html,
body {
  color: var(--gray);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body > #bg {
  width: 100vw;
  height: 100%;
  background-color: rgb(0, 238, 255);
  clip-path: polygon(100% 46%, 100% 0%, 37% 0, 0 24%, 0% 100%, 41% 100%);
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  max-width: 100%;
  margin: auto;
  height: 100vh;
}

.container {
  position: relative;
  top: -110px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--gray);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar > img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  text-align: center;
  margin: auto;
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}